*{
    margin: 0px;
    padding: 0px;
}
.myMargin
{
margin: 25px;
}
body{
   /* background-image: url('PICTURES/wp2626181-nature-hd-3d-wallpapers-1080p-widescreen.jpg');*/
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
.d-flex {
    margin-left: auto;
  }
  
.signup{
    border: 5px solid chocolate;
    background-color: beige;
    height: 38em;
    margin-top: 5%;
    padding: 35px;
}