*{
    margin: 0px;
    padding: 0px;
}
.myMargin
{
margin: 25px;
}
body{
    
   /*background-image:url('PICTURES/munnar20131031131946_202_4.jpg');*/
    background-size:COVER;
    background-attachment: fixed;
    background-position: center;
}
.d-flex {
    margin-left: auto;
  }
  
.text{
    font-family:cursive;
    font-size:50px;
    font-weight: bold;
    color:tomato;
}