*{
    margin: 0px;
    padding: 0px;
}
.myMargin
{
margin: 25px;
}
body{
    
    background-image: url('../PICTURES/malappuram/india-malappuram-island-coconut-tree.jpg');
    background-size:relative;
    background-image:norepeat;
}
.text{
    font-family:cursive;
    font-size:50px;
    font-weight: bold;
    color:tomato;
}